i {
	width: 36px;
	height: 40px;
	display: inline-block;
	background: url('../images/icons-s629bad6460.png') no-repeat;	
  	vertical-align: middle;
}
.icons-air-ending {
	background-position: 0 -1900px;
}
.icons-air-time {
	background-position: 0 -2400px;
}
.icons-air-site {
	background-position: 0 -2250px;
}
.icons-air-btn-site {
	background: url("../images/newdownbtn.png") no-repeat center;
}
.icons-air-favorable {
	background-position: 0 -2050px;
	}
.icons-air-user {
	background-position: 0 -2500px;
}
.icons-aie-card {
	background-position: 0 -1500px;
}
.icons-air-btn-down {
	background-position: 0 -500px;
}
.icons-air-cardcode {
	background-position: 0 -1600px;
}
.icons-air-starting {
	background-position: 0 -2300px;
}
.icons-air-child {
	background-position: 0 -1700px;
}
.icons-air-back-gray {
	background: url('../images/newbackbtn.png') no-repeat center;
	cursor: pointer;
}
.icons-air-btn-enter {
	background-position: 0 -700px;
}
.icons-air-more {
	background-position: 0 -2100px;
}
.icons-air-btn-left-opacity {
	background-position: 0 -900px;
}
.icons-air-btn-right-opacity {
	background-position: 0 -1200px;
}